section#company-info {
	padding-top: 8rem;
	padding-bottom: 4rem;
	
	h1.company-name {
		font-weight: 300;
		color: $blue;
		margin-bottom: 2rem;
		
		&:after {
			top: 1rem;
			bottom: 1rem;
			height: auto;
		}
	}
	
	p.company-copy {
		font-size: 1.25rem;
		color: $grey;
		font-weight: 300;
		
		strong {
			font-weight: 600;
		}
	}
	
	img.company-logo {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	.btn-back-column {
		margin-bottom: 2rem;
	}
}

section#company-contact {
	background-color: $lightblue;
	padding-top: 4em;
	padding-bottom: 4em;
	
	h3 {
		margin-bottom: 2rem;
	}
}

section#company-locations {
	background-color: $lightblue;
	padding-bottom: 4rem;
	
	h3 {
		position: relative;
		margin-top: 2rem;
		
		&:before {
			content: "";
			height: 13px;
			background-image: url($darkstripes);
			width: 100%;
			position: absolute;
			margin-top: -24px;
		}
	}
	
	.address-group {
		float: left;
		padding-left: .95rem;
		padding-right: .95rem;
		
		address {
			float: left;
			width: 25%;
			padding-right: 1%;
			margin-bottom: 3rem;
			min-width: 200px;
		}
	}
}