section#company-info {
	padding-top: 8rem;
	padding-bottom: 4rem;
	
	@include mq(netbook-max) {
		padding-top: 2rem;
	}
	
	h1.company-name {
		font-weight: 300;
		color: $blue;
		margin-bottom: 2rem;
		
		&:after {
			top: 1rem;
			bottom: 1rem;
			height: auto;
		}
	}
	
	p.company-copy {
		font-size: 1.25rem;
		color: $grey;
		font-weight: 300;
		
		strong {
			font-weight: 600;
		}
	}
	
	img.company-logo {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	.btn-back-column {
		margin-bottom: 2rem;
	}
	
	.btn-back {
		position: relative;
		color: $blue;
		font-weight: 600;
		font-size: 1.15rem;
		margin-left: 3em;
		
		// Carat
		&:before, &:after {
			content: "";
			width: .7em;
			height: 2px;
			background-color: $blue;
			position: absolute;
			top: 36%;
			left: -.75rem;
			transition: all .35s ease-in-out 0s;
		}
		
		&:before {
			margin-left: -0.65em;
			transform: rotate(135deg);
		}
		
		&:after {
			margin-left: -0.65em;
			margin-top: 0.45em;
			transform: rotate(45deg);
		}
		
		&:hover {
			&:before, &:after {
				left: -1.25rem;
			}
		}
	}
}

section#company-contact {
	background-color: $lightblue;
	padding-top: 4em;
	padding-bottom: 4em;
	
	h3 {
		margin-bottom: 2rem;
	}
}

section#company-locations {
	background-color: $lightblue;
	padding-bottom: 4rem;
	
	h3 {
		position: relative;
		margin-top: 2rem;
		margin-bottom: 2rem;
		margin-right: 2rem;
		
		&:before {
			content: "";
			height: 13px;
			background-image: url($darkstripes);
			width: 100%;
			position: absolute;
			margin-top: -24px;
			max-width: 15.75rem;
		}
	}
	
	.address-group {
		float: left;
		
		&:first-child {
            width: 100% !important;
        }
        @include if_there_are(2) {
            width: 100%;
        }
        @include if_there_are(3) {
            // width: 33.3%;
            width: 50%;
        }
        @include if_there_are(4) {
            width: 33.3%;
            // width: 20%;
        }
        @include if_there_are(5) {
            width: 25%;
        }
        @include if_there_are(6) {
        }
		
		@include mq(netbook-max) {
			&:first-child {
				width: 100% !important;
			}
			@include if_there_are(2) {
				width: 100%;
			}
			@include if_there_are(3) {
				// width: 33.3%;
				width: 50%;
			}
			@include if_there_are(4) {
				width: 50%;
				// width: 20%;
			}
			@include if_there_are(5) {
				width: 50%;
			}
			@include if_there_are(6) {
			}
		}
		
		address {
			float: left;
			width: 25%;
			margin-bottom: 3rem;
			padding-right: 2rem;
			//min-width: 200px;
			
			@include if_there_are(1) {
				width: 100%
			}
			@include if_there_are(2) {
				width: 50%
			}
			@include if_there_are(3) {
				width: 33.3%
			}
			@include if_there_are(4) {
				width: 25%
			}
			
			@include mq(netbook-max) {
				@include if_there_are(1) {
					width: 100%
				}
				@include if_there_are(2) {
					width: 50%
				}
				@include if_there_are(3) {
					width: 50%
				}
				@include if_there_are(4) {
					width: 50%
				}
			}
		}
	}
}