// CSS variables

$blue: #10578d;
$lightblue: #eaeff5;
$darkblue: #0a4571;
$grey: #656565; $gray: $grey;
$lightgrey: #a5a9ac; $lightgray: $lightgrey;
$stripes: "../images/stripes.png";
$darkstripes: "../images/stripes-dark.png";
$headerheight: 104px;


// Main / general styles

html, body {
	color: #636363;
	font-size: 14px;
	background-color: #FFF;
}

section {
	overflow: hidden;
	clear: both;
}

.stripe-bg {
	background-image: url($stripes);
	background-repeat: repeat;
}

.shaded-bg {
	background-color: $lightblue;
}

.white-bg {
	background-color: #FFF;
}


// Typography

h1 {
	font-size: 400%;
	font-weight: 300;
	color: #FFF;
}

h2 {
	font-size: 300%;
	font-weight: 300;
	text-align: center;
	color: $grey;
	letter-spacing: .05em;
	padding-top: 2em;
	margin-bottom: 2.5em;
	
	&:after {
		content: "";
		width: 2em;
		position: absolute;
		left: 50%;
		margin-left: -1em;
		height: 1px;
		background-color: $lightgrey;
		margin-top: 2em;
	}
}

h3 {
	text-transform: uppercase;
	color: $blue;
}

h4 {
	font-size: 150%;
	font-weight: 300;
	text-transform: uppercase;
}


// Nav

header {
	height: $headerheight;
	background-color: #FFF!important;
	
	.main-nav {
		float: right;
		margin-top: 28px;
		
		li {
			float: left;
			list-style: none;
			//margin-left: .25em;
			margin-left: 2.5em;
		}
		
		a {
			text-transform: uppercase;
			color: $blue;
			position: relative;
			font-weight: 700;
			//padding: 1.5em;
			
			&:after {
				content: "";
				position: relative;
				display: block;
				//margin-left: 1.5em;
				//margin-right: 1.5em;
				//top: -1em;
				top: -2em;
				
				height: 1px;
				width: 0;
				background-color: $blue;
				transition: all 0.35s ease-out 0s;
			}
			
			&:hover, &:focus, &:active {
				color: $blue;
				
				&:after {
					width: 100%;
				}
			}
		}
	}
	
	&:after {
		content: "";
		display: block;
		height: 12px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url($stripes) 0 0 repeat;
	}
}


// Content styles

section#main {
	padding-top: $headerheight; // Offset the fixed header
	background-color: $blue;
	background-image: url(../images/bg-main.jpg);
	background-size: cover;
	color: #FFF;
	min-height: 644px;
	
	.row {
		padding-top: 100px;
	}
	
	h1 {
		&:after {
			content: "";
			height: 120px;
			left: -25px;
			position: absolute;
			top: 54px;
			width: 12px;
			background-image: url($darkstripes);
		}
	}
	
	button {
		border: 1px solid #FFF;
		border-radius: 3px;
		font-weight: 700;
		text-transform: uppercase;
		background-image: url($darkstripes);
	}
}

section#find-a-dealer {
	#btn-find-a-dealer {
		display: block;
		padding: 3em 0 4em;
		width: 100%;
		background-image: url($stripes);
		color: $blue;
		font-size: 200%;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		
		// Carat
		&:before, &:after {
			content: "";
			width: .75em;
			height: 2px;
			background-color: $blue;
			position: absolute;
			left: 50%;
			margin-top: 2em;
		}
		
		&:before {
			transform: rotate(45deg);
			margin-left: -.65em;
		}
		
		&:after {
			transform: rotate(-45deg);
			margin-left: -.15em;
		}
	}
}

a#btn-find-a-dealer {
	&:after {
		// Carat
	}
}

section#presetter {
	background-color: $lightblue;
	
	& > div {
		position: relative;
		overflow: hidden;
	}
	
	.pointer {
		position: absolute;
		background-color: $lightgrey;
		
		&:after {
			content: "";
			background-color: $lightgrey;
			position: absolute;
		}
		
		&.vertical {
			width: 1px;
			margin-top: 5px;
			
			&:after {
				width: 13px;
				height: 1px;
				margin-left: -6px;
				margin-top: -5px;
			}
		}
		
		&.left, &.right {
			height: 1px;
			
			&:after {
				width: 1px;
				height: 13px;
				margin-top: -6px;
			}
		}
		
		&.left {
			&:after {
				left: -5px;
			}
		}
		
		&.right {
			&:after {
				right: -5px;
			}
		}
	}
	
	.pointer.vertical {
		width: 1px;
	}
	
	.info-block {
		position: absolute;
		
		dl {
			dt {
				color: $blue;
				text-transform: uppercase;
				font-size: 200%;
				font-weight: 300;
				
				&:before {
					content: "";
					height: 13px;
					background-image: url($darkstripes);
					width: 100%;
					position: absolute;
					margin-top: -24px;
				}
			}
			
			dd {
				color: $grey;
			}
		}
	}
	
	.presetter-1 {
		.presetter-image {
			margin-left: 8.83%;
			width: 34.41%;
		}
	}
	
	.measuring-length-pointer {
		top: 3%;
		left: 45.5%;
		height: 150%;
	}
	
	.measuring-length {
		left: 59.42%;
		top: 35%;
	}
	
	.presetter-2 {
		.presetter-image {
			width: 66%;
			margin-left: 34%;
		}
	}
	
	.surface-illumination-pointer {
		top: 3%;
		left: 45.5%;
		height: 150%;
		
		&:after {
			position: absolute;
			width: 13px;
			height: 1px
		}
	}
	
	.surface-illumination-pointer {
		left: 35.5%;
		top: 37.84%;
		width: 14.33%;
		margin-top: -18px;
		margin-left: 10px;
	}
	
	.surface-illumination {
		right: 64.5%;
		top: 37.84%;
	}
	
	.rapid-positioning-handle-pointer {
		left: 40.08%;
		top: 60.66%;
		width: 51.08%;
		margin-top: -18px;
		margin-left: 10px;
	}
	
	.rapid-positioning-handle {
		right: 59.92%;
		top: 60.66%;
	}
	
	.presetter-3 {
		.presetter-image {
			width: 69.08%;
		}
	}
	
	.spindle-pointer {
		top: 34.13%;
		right: 30%;
		width: 26.67%;
		margin-top: -18px;
		margin-right: 10px;
	}
	
	.spindle {
		left: 70%;
		top: 34.13%;
	}
}

section#software {
	& > div {
		padding-bottom: 4em;
	}
	
	.shaded-bg {
		color: $blue;
	}
	
	p.small-12 {
		padding: 4em 0 2.75em;
		text-align: center;
	}
}

section#sign-up {
	background-color: $blue;
	padding: 4em 0;
	
	h3 {
		color: #FFF;
		padding-bottom: 2em;
		text-align: center;
	}
	
	form {
		color: $grey;
	}
	
	button {
		width: 100%;
		color: #FFF;
		text-transform: uppercase;
		background-color: $darkblue;
		
		&:hover {
			background-color: $lightblue;
			color: $blue;
		}
	}
}