section#software {
	& > div {
		padding-bottom: 4em;
	}
	
	.shaded-bg {
		color: $blue;
	}
	
	p.small-12 {
		padding: 4em 0 2.75em;
		text-align: center;
	}
	
	img {
		margin-bottom: 2rem;
	}
	
	@include mq(netbook-max) {
		& > div {
			padding-bottom: 1.75em;
		}
		
		div.small-12 {
			padding: 0 2rem;
		}
		
		p.small-12 {
			padding: 3rem 2rem 1.75rem;
		}
		
		
		img {
			padding: 0 2rem;
		}
	}
}