@import "vars";
@import "mixins";
// 3rd party
@import "vendor/normalize";
@import "vendor/print";
@import "vendor/classes";
@import "vendor/normalize";
@import "vendor/foundation";
//@import "foundation/components/magellan";
// custom

// CSS variables (orange is used in _base)
$orange: #f46744; // From the Origin logo jpg
@import "theme/base";
@import "theme/typography";


// CSS variables

$blue: #10578d;
$lightblue: #eaeff5;
$darkblue: #0a4571;
$grey: #656565; $gray: $grey;
$lightgrey: #a5a9ac; $lightgray: $lightgrey;
$orange: #f46744; // From the Origin logo jpg
$stripes: "../images/stripes.png";
$darkstripes: "../images/stripes-dark.png";
$widestripes: "../images/stripes-wide.png";
$headerheight: 104px;


// Kitchen Sink

.blue-bg { background-color: $blue; }
.lightblue-bg { background-color: $lightblue; }
.grey-bg { background-color: $grey; }
.lightgrey-bg { background-color: $lightgrey; }
.orange-bg { background-color: $orange; }
.stripes-bg { background-image: url($stripes); }
.darkstripes-bg { background-image: url($darkstripes); }

.swatch {
	display: block;
	height: 128px;
	width: 128px;
	//border: 2px solid #fff;
	//outline: 2px solid #000;
	box-shadow: 0 0 10px 2px #DDD;
}

// Main / general styles

html, body {
	color: #636363;
	font-size: 14px;
	background-color: #FFF;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.row {
	max-width: 69rem;
}

section {
	overflow: hidden;
	clear: both;
}

.stripe-bg {
	background-image: url($stripes);
	background-repeat: repeat;
}

.shaded-bg {
	background-color: $lightblue;
}

.white-bg {
	background-color: #FFF;
}

@include mq(netbook) {
	.netbook-max {
		display: none!important;
		visibility: hidden!important;
	}
}


// Typography

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 400%;
	font-weight: 300;
	color: #FFF;
}

h2 {
	font-size: 300%;
	font-weight: 300;
	text-align: center;
	color: $grey;
	letter-spacing: .05em;
	padding-top: .75em;
	margin-bottom: 1.5em;
	
	&:after {
		content: "";
		width: 2em;
		position: absolute;
		left: 50%;
		margin-left: -1em;
		height: 1px;
		background-color: $lightgrey;
		margin-top: 2em;
	}
	
	@include mq(netbook) {
		padding-top: 2em;
		margin-bottom: 2.5em;
	}
}

h3 {
	text-transform: uppercase;
	color: $blue;
}

h4 {
	font-size: 150%;
	font-weight: 300;
	text-transform: uppercase;
}

.left-stripe-border {
	position: relative;
	
	&:after {
		content: "";
		height: 100%;
		left: -37px;
		position: absolute;
		top: 0;
		width: 12px;
		background-image: url($darkstripes);
	}
}

// Generally given to columns that have a .left-stripe-border element
.extra-left-padding {
	& > * {
		margin-left: 37px;
	}
}

form {
	color: $grey;
	
	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
		font-size: 1rem;
		height: 3.5rem;
		padding: 1rem 1rem 1rem 2rem;
	}
	
	textarea {
		min-height: 6.75rem;
	}
	
	button {
		width: 100%;
		color: #FFF;
		text-transform: uppercase;
	}
}

button {
	background-color: $darkblue;
	
	&:hover {
		background-color: $orange;
	}
}

address {
	font-style: normal;
}


// Nav
@import "theme/header";


// Content styles

// Main section
@import "theme/main";

// Find a Dealer section
@import "theme/find_a_dealer";

// Presetter section
@import "theme/presetter";

// Software section
@import "theme/software";

// Video section
@import "theme/video";

// Sign Up section
@import "theme/sign_up";

// Company Page
@import "theme/company_page";

// Footer
@import "theme/footer";