doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Kitchen Sink | Ted Hosmer Enterprises
    meta(name="description", content="Kitchen Sink | Ted Hosmer Enterprises")
    include _head.jade

  body#index
    .container
      include _header.jade
      
      section#main
        .row
          .columns.small-12.medium-6.medium-offset-1.large-5.large-offset-0
          h1 section#main &lt;h1&gt; tag
          p section#main &lt;p&gt; tag. Lorem ipsum doler sit amat.
          button(href="#signup") section#main &lt;button&gt;
          
      
      section.white-bg
        .row
          .columns.small-12
            h2 Colors
            ul.block-grid-medium-3.block-grid-large-6
              li
                .swatch.blue-bg
                p #10578d
              li
                .swatch.lightblue-bg
                p #eaeff5;
              li
                .swatch.white-bg
                p #fff
              li
                .swatch.grey-bg
                p #656565
              li
                .swatch.lightgrey-bg
                p #a5a9ac
              li
                .swatch.orange-bg
                p #f46744
              li
                .swatch.stripes-bg
                p url(../images/stripes.png)
              li
                .swatch.darkstripes-bg
                p url(../images/stripes-dark.png)
        
        
      section.shaded-bg
        .row
          .columns.small-12
            h2 Typography (this is an h2 tag)
            p When creating content for the site <strong>never use the &lt;h1&gt; tag</strong>. Anything from &lt;h2&gt; - &lt;h6&gt; is valid. The &lt;p&gt; can be used as well.
            hr
            h3 Titles (this is an h3 tag)
            h4 This is an h4 tag
            h5 This is an h5 tag
            h6 This is an h6 tag
            hr
            h3 Body
            p This is a paragraph. Lorem ipsum doler sit amat.
            ul
              li This is an unordered list
              li This is an unordered list
              li This is an unordered list
            dl
              dt This is a definition list title
              dd This is a definition list description
              dt This is a definition list title
              dd This is a definition list description
              dt This is a definition list title
              dd This is a definition list description
      
      section.white-bg
        .row
          .columns.small-12
            h2 Buttons
            button Button Text
            p &lt;button&gt;Button Text&lt;button&gt;
      
      section#sign-up.shaded-bg
        .row
          .columns.small-12
            h2 Form Elements
            input(type="text", placeholder="Your name (input)")
            textarea(placeholder="Comments (textarea)")
            button(type="submit") Button

      include _footer.jade

    include _scripts.jade