footer.footer
  .row
    .columns.medium-6
      img.footer-logo(src="images/logos/parlec.png", alt="Parlec")
    .columns.medium-6
      .row
        .columns.medium-6
          ul.footer-contact-list
            li <strong>Toll Free: </strong>
              a(href="tel:18008665872") 1-800-866-5872
            li <strong>Phone: </strong>
              a(href="tel:18008665872") 585-425-4400
            li <strong>Fax:</strong> 585-425-7542
        .columns.medium-6
          address.footer-address <strong>Address:</strong> <br/>101 Perinton Parkway <br/>Fairport, NY 14450 USA
  
  small.center &copy; 2015 Process Automate Connect All rights reserved. Website and design by: 
    a(href="http://archercomm.com/", target="_blank") Archer Communications