footer.footer
  //
    .row
      .columns.medium-centered.medium-10
      figure.footer-logo
        img(src="images/logos/origin.png", alt="Origin")
        figcaption.copyright Copyright &copy; Parlec inc.
      ul.footer-contact-list
        li
        a(href="#") contact@parlec.com
        li
        a(href="#") Address
        li
        a(href="#") Phone