header.header(data-magellan-expedition="fixed", role="banner")
  .header.row
    h1.h1.columns.small-6.medium-4.large-3
      a(href="/")
        img(src="images/logos/origin.png", alt="").logo
        span.visuallyhidden Origin

    nav.nav.columns.small-6.medium-8.large-9(role="navigation")
      //
        h2.toggle-topbar.menu-icon
          a(href="#")
            span Menu

      ul#main-menu.main-nav
        li
          a(data-magellan-arrival="presetter", href="#presetter") Presetter
        li
          a(data-magellan-arrival="software", href="#software") Software
        li
          a(data-magellan-arrival="sign-up", href="#sign-up") Sign Up